/************************************************************************ 

Add Bits + Blocks Fonts 

*************************************************************************/

@font-face {
    font-family: 'Circular';
    src: url('/styles/fonts/CircularStd-Book.otf');
}

@font-face {
    font-family: 'Circular';
    src: url('/styles/fonts/CircularStd-Black.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'Sentinel';
    src: url('/styles/fonts/Sentinel-Book.otf');
}

@font-face {
    font-family: 'Sentinel';
    src: url('/styles/fonts/Sentinel-BookItalic.otf');
    font-weight: italic;
}

/************************************************************************ 

CSS Styling for index.html

*************************************************************************/
body {
	background-color: white;
    margin-right: 0px;
    margin-left: auto;
}


/*For the top header*/
.header h1 {
    font-family: 'Circular';
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 5px;
    text-align: left;
    color: #B4E0E1;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

/*Navigation Bar */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white; /*BACKGROUND color for active*/
    background-color: #1F9CD7;
    font-family: 'Circular';
    font-size: 16px;
    font-weight: bold;
    margin-right: 15px;
    margin-left: 15px;
}

.navbar-default .navbar-nav > .inactive > a, .navbar-default .navbar-nav > .inactive >   
 a:hover, .navbar-default .navbar-nav > .inactive > a:focus {
    color: #CECDCE; /*BACKGROUND color for inactive*/
    background-color: #1F9CD7;
    font-family: 'Circular';
    font-weight: bold;
    font-size: 16px;
    margin-right: 15px;
    margin-left: 15px;
}

.navbar {
    background-color: #1F9CD7;;
    margin: auto;
    border: 0;
    border-radius: 0;
    padding-right: 0px;
}

.navbar-collapse.collapse {
        text-align: center; /* Set this */
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        margin-top: 7px;
        margin-bottom: 5px;
        border: 0;
        padding: 0;
        border: 0;
}

.navbar-nav {
    display: inline-block;
    float: none;
    margin: 0;
    background-color: transparent;
}

.navbar-nav li {
    font-family: 'Circular';
    font-size: 16px;
    background-color: #1F9CD7;
}

/* For Container1 */
.container1{
    background-color: white;
}

.container1 > .row > .col-md-6 > h1{
    font-family: 'Circular';
    font-weight: bold;
    font-size: 64px;
    color: #1F9CD7;
    padding-left: 50px;
    padding-right: 200px;
}

.container1 > .row > .col-md-6 > h2{
    font-family: 'Sentinel';
    font-weight: italic;
    font-size: 36px;
    color: #1F9CD7;
    padding-left: 50px;
    padding-right: 200px;
}

/* For Container2 */
.container2 {
    background-color: #1F9CD7;
}

.container2 h1{
    color: white;
    font-family: 'Circular';
    font-weight: bold;
    text-align: center;
}

.container2 > .row > .col-md-6{
    margin-top: auto;
    margin-bottom: auto;
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}

.container2 > .row > .col-md-6 > h2{
    font-family: 'Sentinel';
    font-weight: italic;
    font-size: 24px;
    color: white;
    padding-left: 100px;
    padding-right: 100px;

}

/* For Container3 */
.container3 {
    background-color: #50E3C2;
}

.container3 h1{
    color: white;
    font-family: 'Circular';
    font-weight: bold;
    text-align: center;
}

.container3 > .row > .col-md-4 {
    padding-left: 100px;
    padding-right: 100px;
}

.container3 > .row > .col-md-4 > h1{
    font-family: 'Sentinel';
    font-weight: italic;
    font-size: 32px;
    color: white;
    text-align: center;
}

.container3 > .row > .col-md-4 > h2{
    font-family: 'Sentinel';
    font-weight: italic;
    font-size: 20px;
    color: white;
    text-align: center;
}

/*For Footer*/
.container4 {
    background-color: #1F9CD7;
}

.container4 h1{
    font-family: 'Circular';
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    color: white;
}

